.attachment-row>.close {
	display: none!important;
}

[data-action="reload_attachment"] {
	display: none!important;
}

[data-action="clear_attachment"] {
	display: none!important;
}

#page-Form\/Rename\ Tool > div.container.page-body > div.page-wrapper > div > div.row.layout-main > div > div.layout-main-section > div:nth-child(3) > div > div > div.form-page > div.row.form-section.visible-section.shaded-section > div > div > form > div:nth-child(3) > div > div.control-input-wrapper > div.control-input > div > div:nth-child(2) > a:nth-child(1) {
	display: inline!important;
}

#page-Form\/Rename\ Tool > div.container.page-body > div.page-wrapper > div > div.row.layout-main > div > div.layout-main-section > div:nth-child(3) > div > div > div.form-page > div.row.form-section.visible-section.shaded-section > div > div > form > div:nth-child(3) > div > div.control-input-wrapper > div.control-input > div > div:nth-child(2) > a:nth-child(2){
	display: inline!important;
}